.wrapper
  .sidebar{"data-color" => "blue", "data-image" => "images/sidebar-5.jpg"}
    .sidebar-wrapper
      .logo
        %a.simple-text{:href => "http://www.billynicartjr.com"}
          Billy Nicart Jr
      %ul.nav
        %li.active
          %a{:href => "dashboard.html"}
            %i.pe-7s-graph
            %p Dashboard
        %li
          %a{:href => "#"}
            %i.pe-7s-user
            %p User Details
        %li
          %a{:href => "#"}
            %i.pe-7s-science
            %p Usana
        %li
          %a{:href => ""}
            %i.pe-7s-date
            %p Calendar
        %li
          %a{:href => "icons.html"}
            %i.pe-7s-note
            %p TIL
  .main-panel
    %nav.navbar.navbar-default.navbar-fixed
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navigation-example-2", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Dashboard
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-left
            %li
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-dashboard
                %p.hidden-lg.hidden-md Dashboard
            %li
              %a{:href => "/"}
                %i.fa.fa-search
                %p.hidden-lg.hidden-md Search
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => ""}
                %p Account
            %li
              %a{:href => "#"}
                %p Log out
            %li.separator.hidden-lg.hidden-md
    .content
      .container-fluid
        .row
          .col-sm-12 Contents coming soon!
    %footer.footer
      .container-fluid
        %p.copyright.pull-right
          Copyright
          ©
          :javascript
            document.write(new Date().getFullYear())
