#edit-event-modal.modal.fade{"aria-labelledby" => "New Event", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title
          Event
      .modal-body
        %input{:type => "hidden", :name => "event_id"}
        .form-group
          %label Start Date
          %input.form-control.date{:placeholder => "Start Date", :type => "text", :name => "start_time"}/
        .form-group
          %label End Date
          %input.form-control.date{:placeholder => "End Date", :type => "text", :name => "end_time"}/
        .form-group
          %label Title
          %input.form-control{:placeholder => "Event title", :type => "text", :name => "title"}/
        .form-group
          %label Description
          %textarea.form-control{:placeholder => "Describe your event", :type => "text", :name => "description"}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-danger.delete-event{:type => "button", "data-url" => events_path, "data-method" => "DELETE"} Delete
        %button.btn.btn-primary.edit-event-save{:type => "button", "data-url" => events_path, "data-method" => "PATCH"} Save
